.head_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 4rem;
}


.blog{
    font-size: 5rem;
}
.right_text{
    font-size: 1.5rem;
}
.nextjsLink:hover,
.nextjsLink:focus,
.nextjsLink:active{
    color: blue;

}
.coverimage_container{
 padding: .5rem 4rem;
}
.image_container{
    width: 25px;
    height: 25px;
}
.roundimage{
    border-radius: 50%;
}
.profile_icon_text_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightside_card{
    max-width: 550px;
}
.flex_container
{
    display: flex;
    
    padding: 0rem 3.5rem;   
}
.rightside_text{
    font-size: 20px;

}
.leftside_text{
    font-weight: 400;
    font-size: 2.5rem;
}
.date{
    font-size: 1.5rem;
    font-weight: 300;
}
.leftside_card{    
}
.titletext_left{
    font-size: 2.5rem;
}
.moredetails_container{
  padding: .5rem 3.5rem;  
}
.seaimage_container{
    max-width: 500px;
}
.imagecard_title_text{
    font-size: 2rem;
    font-weight: 400;
}
.image_card_container{
    max-width: 500px;
}
.textCard_image_container{
    display: flex;
    justify-content: space-between;
}
