.head_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 4rem;
}


.blog{
    font-size: 5rem;
}
.right_text{
    font-size: 1.5rem;
}
.nextjsLink:hover,
.nextjsLink:focus,
.nextjsLink:active{
    color: blue;

}
.coverimage_container{
 padding: .5rem 4rem;
}
.image_container{
    width: 25px;
    height: 25px;
}
.roundimage{
    border-radius: 50%;
}
.profile_icon_text_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightside_card{
    max-width: 550px;
}
.flex_container{
    display: flex;
    justify-content: space-between;
}
.rightside_text{
    font-size: 1rem;
}
.leftside_text{
    font-weight: 400;
    font-size: 2.5rem;
}
