.head_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 4rem;
}


.blog{
    font-size: 5rem;
}
.right_text{
  font-size: 1.5rem; 
    
}
.nextjsLink:hover,
.nextjsLink:focus,
.nextjsLink:active{
    color: blue;

}
.coverimage_container{
 padding: .5rem 4rem;
}
.image_container{
    width: 25px;
    height: 25px;
}
.roundimage{
    border-radius: 50%;
}
.profile_icon_text_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightside_card{
    max-width: 550px;
}
.flex_container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 3.5rem;   
}
.rightside_text{
    font-size: 20px;

}
.leftside_text{
    font-weight: 400;
    font-size: 2.5rem;
    max-width: 600px;
}
.leftside_text:hover,
.leftside_text:focus,
.leftside_text:active{
    text-decoration: underline;
}
.date{
    font-size: 1.5rem;
    font-weight: 300;
}
.leftside_card{    
}
.titletext_left{
    font-size: 2.5rem;
}
.moredetails_container{
  padding: .5rem 3.5rem;  
}
.seaimage_container{
    max-width: 500px;
}
.imagecard_title_text{
    font-size: 2rem;
    font-weight: 400;
}
.image_card_container{
    max-width: 500px;
}
.textCard_image_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_text{
    font-size: 2.5rem;
    font-weight: 700;
    
}
.buttonRead{
    width: 200px;
    height: 50px;
    color: white;
    background-color: black;
    font-size: 1rem;
}
.buttonRead:hover,
.buttonRead:focus,
.buttonRead:active{
    border: 1px solid black;
    background-color: white;
    color: black;
}
.linkGithub{
    font-size: 20px;
    font-weight: 700;
}
.righttext_footer{
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    border: 1px solid rgb(234 234 234);
    background-color: rgb(250 250 250);
    flex-wrap: wrap;
    
}
